<header>
  <h1>DASHBOARD</h1>

  <nav>
    <ul id="navigation">
      <li id="nav-link" class="active"><a href="/admin/dashboard">home</a></li>
      <li id="nav-link">
        <a href="/admin/dashboard/coursemanagement">course management</a>
      </li>
      <li id="nav-link">
        <a href="/admin/dashboard/feedbackmanagement">feedback management</a>
      </li>
      <li id="nav-link">
        <a href="/admin/dashboard/studentmanagement">student management</a>
      </li>
      <div class="logout_btn">
        <a id="logout" href="/logoutAdmin">logout</a>
        <span><i class="bx bxs-user-circle"></i> <%=username%></span>
      </div>
    </ul>
  </nav>
  <div class="burger-menu"><i class="bx bx-menu"></i></div>
</header>

<script src="../../js/admin/navbar.js"></script>
