.contact-us-form {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 20px;
}

.contact-us-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1536242918817-db5e93c7a0e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGhhY2tpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60) no-repeat center center/cover;
    z-index: -2;
    filter: blur(1px);
}

.contact-us-form::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

form {
    width: 80%;
    padding: 40px 30px 30px 30px;
    margin: 40px auto;
    border-radius: 5px;
    /* box-shadow: 1px 1px 6px rgba(0, 0, 0, .2); */
    background: rgba(255, 255, 255, 0.1);
}

form h4 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 26px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
}

form div {
    position: relative;
    margin-bottom: 30px;
    color: #6a6f73;
}

form div p {
    color: red;
}

form div input {
    width: 100%;
    height: 50px;
    padding-left: 8px;
    border: none;
    background: #f0f8fa;
}

form .description input {
    height: 100px;
}

form div textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    border: none;
    background: #f0f8fa;
}

form button {
    display: block;
    width: 100%;
    margin: 0px auto;
    padding: 14px 26px;
    border: none;
    background: #3bb7f5;
    color: white;
    letter-spacing: 1.5px;
}

form span {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: white;
}

@media (max-width: 430px) {
    form {
        width: 350px;
    }
}