<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Management</title>

    <!-- CDN LINKS -->
    <%- include('../../partials/cdn.ejs') %>

    <!-- NAVBAR CSS -->
    <link rel="stylesheet" href="../../css/admin/navbar.css" />

    <!-- COURSE MANAGEMENT CSS -->
    <link rel="stylesheet" href="../../css/admin/studentManagement.css" />
  </head>

  <body>
    <!-- NAVBAR -->
    <%- include('../../partials/admin/navbar.ejs') %>

    <!-- ADD COURSE BUTTON -->
    <div class="add-student-btn">
      <button id="add-student-btn">
        <a href="/admin/dashboard/addStudent">add student</a>
      </button>
    </div>

    <!-- SHOW COURSE -->
    <table>
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Number</th>
          <th>Email</th>
          <th>Date</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <!-- PAGINATION -->
    <ul class="pagination">
      <%for (i = 1; i <= totalPage; i++) {%>

      <li><%=[i]%></li>

      <%}%>
    </ul>

    <!-- COURSE EDIT POP-UP -->
    <div class="edit-popup"></div>
    <div class="add-course-popup"></div>

    <!-- SCRIPT -->
    <script src="../../js/admin/studentManagement.js"></script>
  </body>
</html>
