/* The Table Attributes */

html {
  scroll-behavior: smooth;
}

table {
  width: 60%;
  /* background-color: red; */
  text-align: center;
  margin: 20px auto;
  font-family: sans-serif;
  border-bottom: 5px solid black;
}

table tbody tr:nth-child(2n + 1) {
  background-color: #f5f6f7;
}

/* The Attributes that the Head and the Body of the Table Share */

th {
  padding: 15px;
  background-color: black;
  color: white;
}

td {
  padding: 5px 0;
  font-size: 15px;
  text-transform: capitalize;
}

td span i {
  color: black;
  font-size: 22px;
}

td img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Attributes of the Head of the Body */

/* Attributes of Each Cell */

/*Attributes of Span*/

/*Attributes */

.pagination {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  padding: 10px;
}

.pagination li {
  margin: 0 4px;
  padding: 3px 10px;
  border-radius: 4px;
  color: white;
  background: #3bb7f5;
  cursor: pointer;
}
